<!DOCTYPE HTML>
<html>
	<head>
		$if(title)$
			<title>nomad software | $title$</title>
		$else$
			<title>nomad software</title>
		$endif$

		<meta name="author" content="$author$">
		<meta name="description" content="$description$">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Expires" content="7" />

		<link rel="shortcut icon" href="$root-path$/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="$root-path$/css/site.css">
		<link rel="stylesheet" type="text/css" href="$root-path$/css/gist.css">
		<link rel="stylesheet" type="text/css" href="$root-path$/css/disqus.css">

		<script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-111284073-1" defer></script>
		<script type="text/javascript" defer>
			window.dataLayer = window.dataLayer || [];
			function gtag(){
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'UA-111284073-1');
		</script>
	</head>
	<body>
		<header>
			<div class="content">
				<table>
					<tr>
						<td class="logo">
							<a href="$root-path$/"><h1>nomad<span class="highlight">software</span></h1></a>
						</td>
						<td class="links">
							<a title="Twitter" href="https://twitter.com/nomaddeveloper" target="_blank"><img src="images/header/twitter.png" alt="Twitter"></a>
							<a title="Linkedin" href="http://uk.linkedin.com/pub/gary-willoughby/63/489/33b" target="_blank"><img src="images/header/linkedin.png" alt="Linkedin"></a>
							<a title="Github" href="https://github.com/nomad-software" target="_blank"><img src="images/header/github.png" alt="Github"></a>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="nav-bar">
								<ul>
									<li><a href="$root-path$/"><img src="$root-path$/images/header/home.png" /></a></li>
									<li><a href="$root-path$/pages/about.html">About</a></li>
									<li><a href="$root-path$/pages/archive.html">Archive</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</header>

		<div class="body">
			<div class="content">
				$body$
				$if(disqus-url)$
					$if(disqus-id)$
						<div id="disqus_thread" class="disqus"></div>
						<script type="text/javascript" defer>
							var disqus_config = function() {
								this.page.url        = "$disqus-url$";
								this.page.identifier = "$disqus-id$";
							};

							(function() {
								var d = document;
								var s = d.createElement('script');
								s.src = 'https://nomad-software.disqus.com/embed.js';
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
							})();
						</script>
					$endif$
				$endif$
			</div>
		</div>

		<footer>
			<div class="content">
				<table>
					<tr>
						<td>
							<img src="images/footer/portrait.jpg" class="thumb" />
						</td>
						<td>
							<p class="author">
								<strong>Author: Gary Willoughby</strong><br>
								Software engineer and published author with over twenty years experience of software design and development.
							</p>

							<div class="links">
								<a title="Twitter" href="https://twitter.com/nomaddeveloper" target="_blank"><img src="images/header/twitter.png" alt="Twitter"></a>
								<a title="Linkedin" href="http://uk.linkedin.com/pub/gary-willoughby/63/489/33b" target="_blank"><img src="images/header/linkedin.png" alt="Linkedin"></a>
								<a title="Github" href="https://github.com/nomad-software" target="_blank"><img src="images/header/github.png" alt="Github"></a>
							</div>

							<p class="copyright">
								Content copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Gary Willoughby All Rights Reserved.
								All source code is public domain and provided "as is", so use at your own risk.
								All content previously appeared at <a href="http://nomad.so/" target="_blank">www.nomad.so</a> and carefully migrated here because the somalis wanted their domain back! 😞
							</p>
						</td>
					</tr>
				</table>
			</div>
		</footer>
	</body>
</html>
